<h1> About </h1>
<p>
	Here is a link to <%= link_to "One Month Rails", "http://onemonthrails.com" %>,
	which is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. <br>This is the sample application, which OMR has helped me create.

</p>



<div class="dropdown">
	<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Press Me <b class="caret"></b></a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  <li><a tabindex="-1" href="#">Action</a></li>
	  <li><a tabindex="-1" href="#">Another action</a></li>
	  <li><a tabindex="-1" href="#">Something else here</a></li>
	  <li class="divider"></li>
	  <li><a tabindex="-1" href="#">Separated link</a></li>
	</ul>
</div>