<div class="hero-unit">
	<h1>Welcome to My First Website :)</h1>
	<p>
		You've found the home page for  
		<%= link_to "My First Website", "https://facebook.com/gregory.iannacone"%> 
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-success btn-large" %>
	</p>
</div>


